@use "../../styles/partials/colors" as *;

.signup-popup {
    height: 75vh;
    margin-left: 1rem;
    margin-right: 1rem;

    &__header {
        font-size: 1.2rem;
        font-weight: 400;
        color: $primarycolor;
    }

    &__titlewrapper {
        display: flex;
        flex-direction: row;
    }

    &__icon {
        width: 2rem;
    }

    &__form {
        border: 2px solid #E5DBCF; padding: 1rem;
        padding-left: 6.5rem;
        padding-right: 6.5rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        width: 35vw;
    }

    &__label {
        font-size: 5rem;
    }

    &__button {
        font-family: 'lemonmilk';
        font-size: 0.8rem;
        padding: 0.3rem 5rem 0.3rem 1.3rem;
        border: none;
        background-color: #FFFFFF;
        color: $primarycolor;
        text-decoration: underline;
    }

    &__hero {
        width: 59vw;
        object-fit: cover;
    }

    &__option {
        padding-left: 0.5rem;
    }
}