@use "../../styles/partials/colors" as *;

.home-page {
    margin-left: 1rem;
    margin-right: 1rem;
    
    &__hero {
        width: 60vw;
        height: 80vh;
        object-fit: fill;
    }

    &__container {
        display: flex;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 12rem;
    }

    &__socials {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;

        &-contact {
            display: flex;
            justify-content: space-evenly;
        }
    }


}