@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.home-page {
  height: 75vh;
  @include route-margins;

  &__hero {
    width: 50vw;
    object-fit: cover;
  }

  &__container {
    display: flex;
  }

  &__header {
    color: $primarycolor;
  }

  &__footer {
    border: 2px solid #424c55;
    width: 48%;
  }

  &__socials {
    align-content: center;
    justify-content: space-between;
    margin-bottom: 5rem;

    &-contact {
      padding-left: 3rem
    }
  }

  &__about {
    @include flex-row;
    justify-content: center;
    margin-top: 33rem;
  }

  &__saying {
    @include flex-center;
    font-size: 4rem;
    margin-left: 4rem;
    color: $slogan-color;
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-left: 17rem;
  }
}
