@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;



.paw-dashboard {

    &__loggedin {
        font-size: 1.3rem;
        color: $primarycolor;
        margin-left: 5rem;
    }

    &__header {
        display: flex;
        margin-top: 3rem;
    }

    &__icon {
        width: 2rem;
    }

    &__button {
        font-family: 'lemonmilk';
        margin-left: 48rem;
        font-size: 1rem;
        padding: 0.3rem 5rem 0.3rem 1.3rem;
        border: none;
        background-color: $primarylight;
        color: $primarycolor;
        text-decoration: underline;
    }
}