@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;


.page-header {
  background-color: $primarylight;
  width: 80%;
  height: 10vw;
  margin-right: 0;

  &__list {
    padding-top: 3rem;
    @include flex-row;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 1rem;
  }

  &__logo{
    width: 5rem;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
  }

  &__item {
    list-style: none;
    text-decoration: none;
    color: $primarycolor;

    &--divider {
      list-style: none;
      text-decoration: none;
      color: $primarycolor;
      font-size: 1rem;
    }
  }

  &__item:link {
    text-decoration: none;
  }

  &__item:active {
    color: $primarycolor;
    text-decoration: none;
  }
  &__item:hover {
    text-decoration: underline;
  }
}
