@use "../../styles/partials/colors" as *;

.page-header {
  background-color: $primarylight;
  height: 10vw;

  &__list {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 1rem;
  }

  &__logo{
    width: 3rem;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
  }

  &__item {
    list-style: none;
    text-decoration: none;
    color: $primarycolor;

    &--divider {
      list-style: none;
      text-decoration: none;
      color: $primarycolor;
      font-size: 1rem;
    }
  }

  &__item:link {
    text-decoration: none;
  }

  &__item:active {
    color: $primarycolor;
    text-decoration: none;
  }
  &__item:hover {
    text-decoration: underline;
  }
}
