@font-face {
  font-family: "lemonmilk";
  src: url(../../assets/fonts/lemonmilk-regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "lemonmilk-bold";
  src: url(../../assets/fonts/lemonmilk-bold.otf);
  font-weight: 600;
}

@font-face {
  font-family: "lemonmilk-bold";
  src: url(../../assets/fonts/lemonmilk-light.otf);
  font-weight: 300;
}
