@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;



.dashboard-details {
    height: 75vh;
    @include route-margins;

    &__container {
        border: 2px solid #E5DBCF;
        @include flex-column;
        padding-left: 6.5rem;
        padding-right: 6.5rem;
        width: 22vw;
    }

    &__wrapper {
        display: flex;
    }

    &__header {
        font-size: 1rem;
        color: $primarycolor;
    }

    &__image {
        width: 59vw;
    }

    &__info {
        font-size: 0.8rem;
    }

    &__preferences {
        font-family: 'lemonmilk';
        font-size: 0.8rem;
        padding: 0.3rem 5rem 0.3rem 1.3rem;
        border: none;
        background-color: $primarylight;
        color: $primarycolor;
        text-decoration: underline;
    
    }
}