@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.results-item {
    

    &__list {
        list-style: none;

    }

    &__wrapper {
        overflow: hidden;
        overflow-x: auto;
        overflow-y: auto;
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;        
    }

    &__card {
        border: 1px solid #000000;
        margin-top: 1rem;
        margin-left: 1rem;
        border-radius: 6px;
        width: 27vw;
        // overflow: auto;
    }

    &__item {
        display: flex;
        flex-direction: flex-wrap;
        position: relative;

    }

    &__image {
        position: relative;
        width: 20vw;
        height: 20vh;
        object-fit: fill;
        border-radius: 6px;
        padding-bottom: 1rem;

    }
}
