@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;


.results-item {
    

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;

    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;        
    }

    &__card {
        border: 1px solid $primarydark;
        @include route-margins;
        border-radius: 6px;
        width: 27vw;
    }

    &__item {
        flex-grow: 1;
        position: relative;

    }

    &__image {
        position: relative;
        width: 20vw;
        height: 20vh;
        object-fit: cover;
        border-radius: 6px;
        padding-bottom: 1rem;
        vertical-align: bottom;
    }
}
