@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.gallery-item {
  &__info {
    list-style: none;
  }

  &__card {
    border: 2px solid $primarycolor;
    @include route-margins;
    border-radius: 6px;
    width: 26vw;
    height: 26vh;
    overflow: auto;
  }

  &__image {
    position: relative;
    width: 20vw;
    height: 20vh;
    object-fit: cover;
    border-radius: 6px;
    padding-bottom: 1rem;
    vertical-align: bottom;
  }

  &__wrapper {
    @include flex-row;
    list-style: none;
    height: 30rem;
    overflow: scroll;
    margin-top: 5rem;
    margin-right: 2rem;
  }
}
