@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
// @use "../../styles/partials/keyframes" as *;


.gallery-item {


  &__card {
    border: 2px solid $primarycolor;
    @include route-margins;
    border-radius: 6px;
    width: 26vw;
    height: 26vh;
    // transition: 0.5s;
    // transition-property: background-color;
  }

    // &__card-hover:hover {
    //  background-color: red;
    //  border: 1px solid red;
    // }
  

  &__image {
    position: relative;
    width: 20vw;
    height: 20vh;
    object-fit: cover;
    border-radius: 6px;
    padding-bottom: 1rem;
    vertical-align: bottom;
  }

  &__list {
    list-style: none;
  }

  &__item {
    color: $primarycolor;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 30rem 30rem 30rem ;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 3rem;
    margin-left: 0.6rem;
  }

}
